

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
   background-color: aqua;
   padding-left: 0%;
   column-width: auto;
}

body {
   text-align: center;
   column-width: 23px;
}
















